<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tarantino047.makeyourowntarantino">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".Actividades.Activity_Principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Actividades.MakeYTarantino"
            android:parentActivityName=".Actividades.Activity_Principal" />
        <activity
            android:name=".Actividades.Resultado"
            android:parentActivityName=".Actividades.MakeYTarantino"
             />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:screenOrientation="portrait"
            android:value="tarantino047.makeyourowntarantino.Actividades.Activity_Principal" />

        <activity android:name=".Actividades.Activity_Detalle"
            android:parentActivityName=".Actividades.Activity_Principal" ></activity>
    </application>

</manifest>